Ferdium/
go/telemetry/
net.imput.helium/
Signal/
t3code/
sunshine/credentials/
sunshine/sunshine.log
sunshine/sunshine_state.json
wayvnc/config
gtk-3.0/bookmarks
matugen/templates/.gtk-colors.css.kate-swp
kitty/current-theme.conf
kitty/kitty.conf.bak
hypr/hyprtoolkit.conf.bak
.directory
.mangojuice
Bitwarden/
BraveSoftware/
Code/
GIMP/
KDE/
Kvantum/KvGlassDarkRound.svg
Kvantum/Kvantum/README.md
Kvantum/Kvantum/Xeno-Opaque.tar.gz
Kvantum/Kvantum/Xeno.tar.gz
Kvantum/Kvantum/preview/
Logitune/
MangoHud/
Mullvad VPN/
OpenRGB/
Postman/
Proton/
QtProject.conf
Thunar/
autostart/electron.desktop
autostart/variety.desktop
autostart/xdman.desktop
balenaEtcher/
baloofileinformationrc
btop/
cef_user_data/
chromium/
codex/
copyq/
dconf/
dlv/
dolphinrc
elephant/
fastfetch/
filetypesrc
gh/
ghb/
github-copilot/
go/
google-chrome/
gopls/
goverlay/
htop/
kactivitymanagerdrc
kate-externaltoolspluginrc
kate/
katemetainfos
katerc
katevirc
kconf_updaterc
kiorc
kitty/themes/
krusaderrc
kservicemenurc
ktrashrc
kwalletmanagerrc
kwalletrc
kwritemetainfos
kwriterc
lact/
menus/
mpv/
neofetch/
nodemon.json
nvm/
opencode/
opera/
partitionmanagerrc
pavucontrol.ini
peazip/
persepolis_download_manager/
protonvpn/
pulse/
pupgui/
qBittorrent.backup/
qBittorrent/
rofi.bak/
rpk/
session/
simple-update-notifier/
solaar/
starship.toml
starship_colors.toml
systemd/user/default.target.wants/
systemd/user/elephant.service
systemd/user/graphical-session.target.wants/
systemd/user/protonvpn_reconnect.service
systemd/user/sockets.target.wants/
systemd/user/solaar.service
tmux/
trashrc
unity3d/
user-dirs.dirs
user-dirs.locale
variety/
vkBasalt/
vlc/
xfce4/
xsettingsd/
zed/
